.bg-color {
    background-color: var(--bg-color);
}

.active {
    text-decoration: underline !important;
    color: oklch(70.7% 0.165 254.624) !important;
}

.typewriter {
  display: inline-block;
  border-right: 2px solid currentColor;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  animation: typing 1.4s steps(10,end) forwards, blink .8s infinite;
  
}
@keyframes typing { to { width: 9ch; } }
@keyframes blink { 50% { border-color: transparent; } }


/* .animate-skill {
    animation: animate-skills 1.2s ease forwards;
} */

/* @keyframes animate-skills {
    from { width: 0;}
    to { width: fit-content;}
} */
